.intro{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}



ul{
    font-size: 10px;
    list-style:none;
}
li{
    font-size: 20px;
}
p{
    font-size: 20px;
}

.socials{
    display: flex; 
    justify-content: center;
    margin-top: auto;
}

.socials a{
    font-size: 25px;
    text-align: center;
    transition: all;
    margin-top: 20px;
    transition: all 0.5s;
}


.socials a .fa-solid {
    font-size: 40px;
    color: rgb(90, 143, 197);
}

.socials a .fa-brands.fa-whatsapp{
    font-size: 40px; 
    color: rgb(22, 212, 32);
}

.socials a .fa-brands.fa-github{
    margin-left: 20px;
}

.socials a:hover{
    /* font-size: 80px; */
    scale: 1.5  ;
}

.btm1{
    display: flex; 
    justify-content:space-between;
    margin-left: 30px;
    margin-right:50px;
    color:rgb(135, 218, 211);
}

.btm1 ul li a{
    color: rgb(218, 189, 153);
    font-size: 20px;
    margin-left:0px;
    margin-right: 40px;
    margin-top: 10px;
    transition: all 50ms;
}

.resume a{
    font-size: 30px; 
    color: rgb(52, 212, 199);
    position: relative;
    transition: all 0.5s;
}